Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2020-11, with the labels that each got.

#450 create FileUtils
  extractor/src/test/java/org/schabi/newpipe/FileUtils.java
Labels: enhancement

#456 create YouTubeCommentsLinkHandlerFactoryTest
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YouTubeCommentsLinkHandlerFactoryTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeCommentsExtractorTest.java
Labels: youtube

#452 Implement youtube subscription import from Google takeout
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSubscriptionExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/subscription/SubscriptionExtractor.java
  extractor/src/test/java/org/schabi/newpipe/FileUtils.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeSubscriptionExtractorTest.java
  extractor/src/test/resources/youtube_export_test.xml
  extractor/src/test/resources/youtube_takeout_import_test.json
Labels: bug, youtube

#463 Update Invidious URL List
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeStreamLinkHandlerFactory.java
Labels: invidious
