Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2021-08, with the labels that each got.

#699 Fix YouTube music search.
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMusicSearchExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/search/YoutubeMusicSearchExtractorTest.java
Labels: bug, youtube

#696 Expand regex to match n param decrypt function
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypter.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/Parser.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/StringUtils.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypterTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/utils/StringUtilsTest.java
Labels: bug, youtube

#705 Update supported countries list for YouTube.
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeService.java
Labels: youtube

#694 Faster iframe api based player extraction.
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeJavaScriptExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeJavaScriptExtractorTest.java
Labels: enhancement, youtube

#713 [YouTube] Consolidate the regular expressions used to find the cipher decryption function
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
Labels: bug, youtube

#709 [YouTube] Support csv and zip subscription import (Google Takeout)
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSubscriptionExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/subscription/SubscriptionExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeSubscriptionExtractorTest.java
  extractor/src/test/resources/youtube_takeout_import_test_1.csv
  extractor/src/test/resources/youtube_takeout_import_test_1.zip
  extractor/src/test/resources/youtube_takeout_import_test_2.csv
  extractor/src/test/resources/youtube_takeout_import_test_2.zip
Labels: youtube

#712 Add invidious instance EduVid Tubus
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeStreamLinkHandlerFactory.java
Labels: invidious

#722 [SoundCloud] Update client id
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelper.java
Labels: soundcloud
