Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2021-07, with the labels that each got.

#661 [PeerTube] Support livestreams
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeStreamInfoItemExtractor.java
Labels: enhancement, peertube

#683 [YouTube] Fix buffering by decoding n parameter of stream urls
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeJavaScriptExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypter.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/JavaScript.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeJavaScriptExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypterTest.java
Labels: bug, youtube

#692 [SoundCloud] Fix hardcoded client id
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelper.java
Labels: soundcloud
