Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2021-04, with the labels that each got.

#599 Add body field to Page and use it
  extractor/src/main/java/org/schabi/newpipe/extractor/Page.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/captainDisillusion/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/captainDisillusion/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/captainDisillusion/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/captainDisillusion/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/gronkh/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/gronkh/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/gronkh/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/gronkh/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/learning/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/learning/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/notAvailable/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/notAvailable/generated_mock_1.json
Labels: youtube

#602 Ignore unreliable SoundcloudGoPlusTrack.testRelatedItems
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudStreamExtractorTest.java
Labels: soundcloud

#607 [Bandcamp] Add Radio stream segments
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRadioStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/StreamSegment.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/bandcamp/BandcampRadioStreamExtractorTest.java
Labels: bandcamp, enhancement

#610 Extract related bandcamp items
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRadioStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRelatedPlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/bandcamp/BandcampStreamExtractorTest.java
Labels: bandcamp, enhancement

#613 Rework Bandcamp comments
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampChannelExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampExtractorHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRadioInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRadioStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/streaminfoitem/BandcampStreamInfoItemExtractor.java
Labels: bandcamp

#617 Fix Google URL detection
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: bug, youtube

#618 Fix Soundcloud extraction
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/linkHandler/SoundcloudChannelLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/linkHandler/SoundcloudPlaylistLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/linkHandler/SoundcloudStreamLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/Utils.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelperTest.java
Labels: ASAP, bug, soundcloud
