Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2022-02, with the labels that each got.

#785 Regex error when parsing the Youtube JavaScript code
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypter.java
Labels: bug, ASAP, youtube

#797 Fix NullPointerException in YouTubeStreamExtractor.getStreamSegments()
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
Labels: bug, youtube

#799 Refactored YoutubeCommentsExtractor
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsExtractor.java
Labels: youtube
