Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2022-12, with the labels that each got.

#978 [YouTube] Fix search subscriber count extraction with channel handles
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelInfoItemExtractor.java
Labels: bug, youtube

#941 [PeerTube] Support comment replies
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeCommentsExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeCommentsInfoItemExtractor.java
Labels: enhancement, peertube

#994 [PeerTube] Report Exceptions thrown while getting a stream's subtitles
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeStreamExtractor.java
Labels: peertube, codequality
