Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2022-03, with the labels that each got.

#796 Add support for extracting channel subscriber count in StreamInfo
  extractor/src/main/java/org/schabi/newpipe/extractor/channel/ChannelExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/StreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/StreamInfo.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/BaseStreamExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/DefaultStreamExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorAgeRestrictedTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorControversialTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorDefaultTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorLivestreamTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorUnlistedTest.java
Labels: youtube

#807 Remove the need for a CommentsInfo instance in CommentsInfo.getMoreItems and fix PeertubeCommentsExtractorTest.Default test
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfo.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeCommentsExtractorTest.java
Labels: enhancement, peertube, multiservice

#786 [Youtube] Make throttling decryption more resilient to api change
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypter.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypterTest.java
Labels: enhancement, youtube

#811 [YouTube] Fix the extraction of series playlists and don't return the view count as the stream count for learning playlists
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubePlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMixPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudPlaylistExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubePlaylistExtractorTest.java
Labels: bug, youtube

#815 Removed hardcoded soundcloud HARDCODED_CLIENT_ID
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelper.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelperTest.java
Labels: soundcloud

#788 Add MixInfoItem and extract YouTube mixes in related items
  extractor/src/main/java/org/schabi/newpipe/extractor/MultiInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/media_ccc/extractors/MediaCCCSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMixOrPlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMixPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMusicSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeMixPlaylistExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubePlaylistExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorRelatedMixTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/channelMix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/channelMix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/channelMix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/genreMix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/genreMix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/genreMix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/genreMix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/genreMix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/genreMix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/invalid/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/invalid/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/invalid/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/myMix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/myMix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/myMix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/myMix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/myMix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/myMix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_6.json
Labels: enhancement, youtube, multiservice

#818 Update the license to the latest version
  LICENSE
  copyright
Labels: meta

#804 [YouTube] Fix music mixes in some countries
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: bug, youtube

#813 Fixed tests (+ Youtube shorts in channels)
  extractor/src/main/java/org/schabi/newpipe/extractor/NewPipe.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/media_ccc/extractors/MediaCCCRecentKiosk.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/media_ccc/extractors/MediaCCCRecentKioskExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/downloader/MockOnly.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/media_ccc/MediaCCCRecentListExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeCommentsExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubePlaylistLinkHandlerFactoryTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeStreamExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeChannelExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeMixPlaylistExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/search/YoutubeMusicSearchExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/search/YoutubeSearchExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorControversialTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorRelatedMixTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/VSauce/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channel/kurzgesagt/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/mixWithIndex/generated_mock_5.json
Labels: bug
