Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2022-10, with the labels that each got.

#888 Use EnumMap in PatternsHolder.
  timeago-parser/src/main/java/org/schabi/newpipe/extractor/timeago/PatternsHolder.java
Labels: codequality

#939 Fix SoundcloudPlaylistExtractor: tracks are in correct order
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudPlaylistExtractor.java
Labels: bug, soundcloud

#936 [YouTube] Add comment reply count support
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeCommentsExtractorTest.java
Labels: enhancement, youtube

#943 [SoundCloud] Fix getting more comments
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/linkHandler/SoundcloudStreamLinkHandlerFactory.java
Labels: bug, soundcloud

#958 [YouTube] Support new metadata format of playlists
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubePlaylistExtractorTest.java
Labels: bug, youtube

#960 [YouTube] Workaround 403 HTTP errors of ANDROID client streams
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/controversial/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/pewdiwpie/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/publicBroadcast/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/relatedMix/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsMaiLab/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/streamSegmentsTagesschau/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unboxing/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/unlisted/generated_mock_6.json
Labels: bug, youtube

#959 Add uploaderUrl and uploaderVerified to PlaylistInfoItem.
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampPlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampPlaylistInfoItemFeaturedExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRelatedPlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudPlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMixOrPlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistInfoItemExtractor.java
Labels: enhancement, youtube, multiservice
