Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2022-05, with the labels that each got.

#782 Cleanup of ``YoutubeStreamExtractor`` and some related classes
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/Stream.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/Utils.java
Labels: youtube

#839 Bandcamp: extract stream length
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/bandcamp/BandcampStreamExtractorTest.java
Labels: bandcamp

#848 [YouTube] Fix extracting YouTube Music client version and key in the EU
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: bug, youtube
