Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2022-06, with the labels that each got.

#810 Support delivery methods other than progressive HTTP
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRadioStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/media_ccc/extractors/MediaCCCLiveStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/media_ccc/extractors/MediaCCCStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/DeliveryType.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/ItagItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/CreationException.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/YoutubeDashManifestCreatorsUtils.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/YoutubeOtfDashManifestCreator.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/YoutubePostLiveStreamDvrDashManifestCreator.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/YoutubeProgressiveDashManifestCreator.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/ItagInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/AudioStream.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/DeliveryMethod.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/Stream.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/StreamInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/StreamType.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/SubtitlesStream.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/VideoStream.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/DashMpdParser.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/ManifestCreatorCache.java
  extractor/src/test/java/org/schabi/newpipe/extractor/ExtractorAsserts.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/DefaultStreamExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudStreamExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeDashManifestCreatorsTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/utils/ManifestCreatorCacheTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/utils/UtilsTest.java
Labels: enhancement, multiservice

#859 Fix extraction of some properties in ItagItems for YouTube livestreams and post-live streams and remove completely SoundCloud HLS workaround
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
Labels: bug, soundcloud, youtube

#864 [YouTube] Fetch the ANDROID client for ended/post livestreams
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
Labels: bug, youtube
