Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-03, with the labels that each got.

#1029 [YouTube] Fix partial non-extraction of "No views" string in stream items
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamInfoItemExtractor.java
Labels: bug, youtube

#1032 [YouTube] Fix hashtags links extraction and escape HTML links
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorDefaultTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/formatting/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/formatting/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/formatting/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/formatting/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/replies/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/replies/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/replies/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/replies/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/replies/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/replies/generated_mock_5.json
Labels: bug, youtube

#1026 Add descriptive and locale properties to audio streams
  extractor/src/main/java/org/schabi/newpipe/extractor/services/media_ccc/extractors/MediaCCCStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/ItagItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/YoutubeDashManifestCreatorsUtils.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/AudioStream.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/media_ccc/MediaCCCStreamExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeDashManifestCreatorsTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/stream/YoutubeStreamExtractorDefaultTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/stream/descriptiveAudio/generated_mock_6.json
Labels: enhancement, youtube, media.ccc.de

#1030 [Bandcamp] Support loading additional comments
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampCommentsExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampCommentsInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/bandcamp/BandcampCommentsExtractorTest.java
Labels: enhancement, bandcamp

#1038 Update JDK to 11 in JDoc workflow
  .github/workflows/docs.yml
Labels: meta

#1034 [PeerTube] Fix comments info test
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeCommentsExtractorTest.java
Labels: peertube

#1040 [YouTube] Fix ParsingException when comments are unavailable in a video
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsExtractor.java
Labels: bug, youtube
