Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-05, with the labels that each got.

#1056 [YouTube] Switch to new search suggestion domain and improve error handling
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSuggestionExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeSuggestionExtractorTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/suggestions/generated_mock_0.json
Labels: enhancement, youtube

#1061 Extract playlists description
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/playlist/PlaylistInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubePlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubePlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeMixPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/bandcamp/BandcampPlaylistExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubePlaylistExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubePlaylistExtractorTest.java
Labels: enhancement, multiservice

#1052 [PeerTube] Fix multi level comment replies
  extractor/src/main/java/org/schabi/newpipe/extractor/Page.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeCommentsExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeCommentsInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeCommentsExtractorTest.java
Labels: bug, peertube

#1045 [YouTube] Extract trends from A/B tested "Videos" tab and fix extraction of trends name from A/B tested new title design
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeTrendingExtractor.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/kiosk/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/kiosk/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/kiosk/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/kiosk/trending/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/kiosk/trending/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/kiosk/trending/generated_mock_2.json
Labels: bug, youtube
