Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-10, with the labels that each got.

#1113 [SoundCloud] Fix extraction of non-JPG images
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/ImageSuffix.java
Labels: bug, soundcloud

#1111 Add `hasCreatorReply()` to CommentsInfoItem
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeCommentsInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeCommentsExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeCommentsExtractorTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/creatorReply/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/creatorReply/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/creatorReply/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/creatorReply/generated_mock_3.json
Labels: enhancement, youtube, peertube

#1114 [YouTube] Add channel owner to comments
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItem.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfoItemsCollector.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsInfoItemExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeCommentsExtractorTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/channelOwner/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/channelOwner/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/channelOwner/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/comments/channelOwner/generated_mock_3.json
Labels: enhancement, youtube
