Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-12, with the labels that each got.

#1141 Fix SearchInfo's non-null MetaInfo being null when initialized or when an extraction error occurs
  extractor/src/main/java/org/schabi/newpipe/extractor/search/SearchInfo.java
Labels: bug, multiservice

#1140 [YouTube] Always return -1 as duration of Shorts returned inside reel items
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelTabExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeReelInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/stream/StreamInfoItemExtractor.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/shorts/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/shorts/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/shorts/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/shorts/generated_mock_3.json
Labels: bug, youtube

#1144 Update PeertubeTrendingLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/linkHandler/PeertubeTrendingLinkHandlerFactory.java
Labels: peertube

#1135 [YouTube] Implement emergency meta info
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeMetaInfoHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSearchExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/search/YoutubeSearchExtractorTest.java
Labels: youtube

#1147 [YouTube] Add Albums channel tab
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelTabExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeChannelTabLinkHandlerFactory.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeChannelTabExtractorTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/albums/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/albums/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/albums/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/albums/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/albums/generated_mock_4.json
Labels: enhancement, youtube
