Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-07, with the labels that each got.

#1076 [YouTube] Support multiple declarations for throttling parameter function name array
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingDecrypter.java
Labels: bug, youtube

#1080 Add proguard rules to README
  README.md
Labels: meta

#706 Add support for AV1 itags.
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/ItagItem.java
Labels: enhancement, youtube
