Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-04, with the labels that each got.

#1047 [Bandcamp] Fix extraction of related playlist items URL
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampRelatedPlaylistInfoItemExtractor.java
Labels: bug, bandcamp

#1033 [Bandcamp] Handle paywalled tracks
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampPlaylistExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/bandcamp/extractors/BandcampStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/bandcamp/BandcampPaidStreamExtractorTest.java
Labels: enhancement, bandcamp

#1051 [YouTube] fix: set musicClientVersion regex capture group
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: bug, youtube

#1055 [PeerTube] Don't return "No description" when there is no description for a channel or an account
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeAccountExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeChannelExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/PeertubeAccountExtractorTest.java
Labels: bug, peertube
