Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2023-01, with the labels that each got.

#996 [PeerTube] Support searching for playlists and channels
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/PeertubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeChannelInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubePlaylistInfoItemExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeStreamExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/linkHandler/PeertubePlaylistLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/linkHandler/PeertubeSearchQueryHandlerFactory.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/peertube/search/PeertubeSearchQHTest.java
Labels: enhancement, peertube

#1005 Fix for potential XSS attacks and formatting issues
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: youtube

#995 [SoundCloud] Implement getUploaderUrl() and isUploaderVerified() for PlaylistInfoItemExtractor
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudPlaylistInfoItemExtractor.java
Labels: soundcloud

#1006 [YouTube] Fix escaping links in YouTubeParsingHelper.getTextFromObject
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: bug, youtube

#794 [YouTube] Add support to extract total comment count
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/comments/CommentsInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeCommentsExtractorTest.java
Labels: enhancement, youtube

#1016 [YouTube] Remove topStandaloneBadge check for view count of stream items
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamInfoItemExtractor.java
Labels: youtube

#1014 [YouTube] Fix getting next comments pages
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsExtractor.java
Labels: bug, youtube

#1022 [YouTube] Support live URLs
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeStreamLinkHandlerFactory.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeStreamLinkHandlerFactoryTest.java
Labels: enhancement, youtube

#1020 [YouTube] Fix NPE in search when getting channel items without subscriber count
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeChannelInfoItemExtractor.java
Labels: bug, youtube

#1013 [YouTube] Now music mixes can be treated as normal mixes
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeService.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeMixPlaylistExtractorTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/mix/musicMix/generated_mock_6.json
Labels: youtube

#1015 [YouTube] Fix channel ID extraction of YouTube channels RSS feeds
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeFeedExtractor.java
Labels: bug, youtube

#1024 [SoundCloud] Fix extraction of tracks like count
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudStreamExtractorTest.java
Labels: bug, soundcloud

#1021 [YouTube] Fix getting the comment text if the comment contains a hashtag
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
Labels: bug, youtube
