Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2025-07, with the labels that each got.

#1302 [YouTube] add new deobfuscation function name regex
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingParameterUtils.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/parameterDeobf/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/parameterDeobf/generated_mock_1.json
Labels: bug, youtube

#1290 [YouTube] Fix signature deobfuscation function name extraction
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeSignatureUtils.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/signatures/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/signatures/generated_mock_1.json
Labels: bug, youtube

#1334 Create FUNDING.yml to display Liberapay as sponsoring option
  .github/FUNDING.yml
Labels: meta

#1104 [YouTube] Workaround Shorts UI for playlists by using a continuation for initial items
  build.gradle
  extractor/build.gradle
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubePlaylistExtractor.java
  extractor/src/main/proto/youtube/playlist/playlist_continuation_schema.proto
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubePlaylistExtractorTest.java
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsShorts/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsShorts/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsShorts/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsShorts/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsVideos/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsVideos/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsVideos/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsVideos/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsVideos/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/channelTabs/ageRestrictedTabsVideos/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/TimelessPopHits/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/continuations/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_4.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_5.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_6.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/huge/generated_mock_7.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/learning/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/learning/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/learning/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/learning/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/notAvailable/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/notAvailable/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/notAvailable/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/notAvailable/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/shortsUI/generated_mock_0.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/shortsUI/generated_mock_1.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/shortsUI/generated_mock_2.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/shortsUI/generated_mock_3.json
  extractor/src/test/resources/org/schabi/newpipe/extractor/services/youtube/extractor/playlist/shortsUI/generated_mock_4.json
Labels: enhancement, youtube

#1350 [YouTube] Fix search filters messing with which lockup formats are extracted
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSearchExtractor.java
Labels: bug, ASAP, youtube

#1354 [YouTube] Add support for more kiosks and change default one
  extractor/src/main/java/org/schabi/newpipe/extractor/exceptions/UnsupportedContentInCountryException.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/ClientsConstants.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/InnertubeClientRequestInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeService.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeChartsBaseKioskExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeDesktopBaseKioskExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeLiveExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeTrendingExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeTrendingGamingVideosExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeTrendingMoviesAndShowsTrailersExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeTrendingMusicExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/kiosk/YoutubeTrendingPodcastsEpisodesExtractor.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeLiveLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeTrendingGamingVideosLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeTrendingLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeTrendingMoviesAndShowsTrailersLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeTrendingMusicLinkHandlerFactory.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/linkHandler/YoutubeTrendingPodcastsEpisodesLinkHandlerFactory.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeKioskExtractorTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeServiceTest.java
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/live/generated_mock_0.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/live/generated_mock_1.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/live/generated_mock_2.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/live/generated_mock_3.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendinggamingvideos/generated_mock_0.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendinggamingvideos/generated_mock_1.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendinggamingvideos/generated_mock_2.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendingmoviesandshowstrailers/generated_mock_0.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendingmusic/generated_mock_0.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendingpodcastsepisodes/generated_mock_0.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendingpodcastsepisodes/generated_mock_1.json
  extractor/src/test/resources/mocks/v1/org/schabi/newpipe/extractor/services/youtube/youtubekioskextractor/trendingpodcastsepisodes/generated_mock_2.json
Labels: enhancement, youtube
