Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2025-02, with the labels that each got.

#1269 [Soundcloud] Remove DRM-protected and downloadable formats extraction
  extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/extractors/SoundcloudStreamExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudStreamExtractorTest.java
Labels: bug, soundcloud

#1272 [YouTube] Refactor player clients, add support for poTokens, extract visitor data from the service and more
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/ClientsConstants.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/InnertubeClientRequestInfo.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/PoTokenProvider.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/PoTokenResult.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeStreamHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/dashmanifestcreators/YoutubeDashManifestCreatorsUtils.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeStreamExtractor.java
Labels: bug, enhancement, ASAP, youtube

#1266 Update gradle wrapper
  .github/workflows/ci.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies
