Repository TeamNewPipe/NewPipeExtractor, pull requests merged in 2025-01, with the labels that each got.

#1262 [YouTube] update iOS client, add visitor data to requests
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/main/java/org/schabi/newpipe/extractor/utils/ProtoBuilder.java
  extractor/src/test/java/org/schabi/newpipe/extractor/utils/ProtoBuilderTest.java
Labels: bug, ASAP, youtube

#1212 Remove unused method in TimeAgoParser
  extractor/src/main/java/org/schabi/newpipe/extractor/localization/TimeAgoParser.java
  extractor/src/main/java/org/schabi/newpipe/extractor/localization/TimeAgoPatternsManager.java
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeParsingHelper.java
  extractor/src/test/java/org/schabi/newpipe/extractor/localization/TimeAgoParserTest.java
  extractor/src/test/java/org/schabi/newpipe/extractor/utils/TimeagoTest.java
Labels: codequality

#1253 [YouTube] Fixes for n param deobfuscation function
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/YoutubeThrottlingParameterUtils.java
Labels: bug, youtube

#1246 Use BufferedReader#lines()
  extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeSubscriptionExtractor.java
  extractor/src/test/java/org/schabi/newpipe/extractor/services/youtube/YoutubeSubscriptionExtractorTest.java
Labels: codequality, waiting for review
